@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) 
{
    body, html 
    {
        background: linear-gradient(to right, #002E26, #212224, #222325);
    }

    section#login 
    {
        width: 80vw;
        height: 260px;
    }    
    div#img 
    {
        background-image: url(../imagens/Tablet.jpg);
        float: left;
        width: 30%;
        height: 100%;
    }
    div#formulario 
    {
        float: right;
        width: 70%;
        
    }
}

@media screen and (min-width: 992px) 
{
    body, html 
    {
        background: linear-gradient(to right, #A9047C, #B60B8D, #C70399);
    }

    section#login 
    {
        width: 950px;
        height: 310px;
    }

    div#img 
    {
        background-image: url(../imagens/Computador.jpg);
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario 
    {
        float: left;
        width: 50%;
    }

    div#formulario h1 
    {
        font-size: 2em;
    }

    div#formulario p
    {
        font-size: 1em;
        margin: 20px 0px;
    }

    div.campo 
    {
        background-color: #5f2c82;
        border: 2px solid #5f2c82;
    }

    div.campo input 
    {
        background-color: #94cfcd;
    }

    form input[type=submit] 
    {
        background-color: #49a09d;
    }

    form input[type=submit]:hover 
    {
        background-color: #2d6462;
    }

    form button:hover
    {
        background-color: #6cd3cf;
    }
}